@import './assets/styles/Vars.scss';

body {
  margin: 0;
  font-family: $theme-font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $theme-font, sans-serif;
}


input {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: $theme-font, sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 100%;
}


input[type= "checkbox"] {
  color: white;
  height: auto;
  margin-bottom: none;
  outline: none;
  padding: 0px 20px;
  width: auto;
}


button {
  // background-color: rgba(255,255,255,0.1);
  border: 2px solid $main-color;
  border-radius: 25px;
  background-color: white;
  color: $main-color;
  font-family: $theme-font, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  cursor: pointer;
  transition: 0.3s;
  // width: 100%;
}

button:hover{
  border: 2px solid white;
  background-color: $main-color;
  color: white;
  transition: 0.3s;
}